div.background-menu {
	background-image: url("../img/res/background.png");
	background-size:100% 100%;
    background-repeat: no-repeat;
}

.responsive{
	max-width: 500px; 
    width: 100%; 
    height: auto; 
}
.responsive  img{
    max-width: 500px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 300px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
}
